In [4]:
import pandas as pd

df = pd.read_csv('data3.csv', parse_dates=['Day'])
df.pivot_table(index=pd.Grouper(freq='M',key='Day'), columns='City', aggfunc='sum')

/tmp/ipykernel_6347/974465204.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.pivot_table(index=pd.Grouper(freq='M',key='Day'), columns='City', aggfunc='sum')

           Temperature (C) Wind Speed (km/h)
City                Mumbai            Mumbai
Day
2025-06-30             101                62
2025-12-31             112                46