In [33]:
import pandas as pd
df = pd.read_csv('data.csv', parse_dates=['day'])
df.set_index('day', inplace=True)
df

/tmp/ipykernel_5424/3467999480.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df = pd.read_csv('data.csv', parse_dates=['day'])

            temperature  windspeed  event
day
2025-04-30         24.0        6.0   rain
2025-05-03          NaN        NaN   rain
2025-05-04          NaN        3.0   rain
2025-05-05         88.0        2.0  sunny
2025-05-06         23.0        7.0    NaN
2025-05-07          NaN        3.0   rain

In [34]:
new_df = df.fillna(0)
new_df

            temperature  windspeed  event
day
2025-04-30         24.0        6.0   rain
2025-05-03          0.0        0.0   rain
2025-05-04          0.0        3.0   rain
2025-05-05         88.0        2.0  sunny
2025-05-06         23.0        7.0      0
2025-05-07          0.0        3.0   rain

In [35]:
new_df = df.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event': 'No Event'
})
new_df

            temperature  windspeed     event
day
2025-04-30         24.0        6.0      rain
2025-05-03          0.0        0.0      rain
2025-05-04          0.0        3.0      rain
2025-05-05         88.0        2.0     sunny
2025-05-06         23.0        7.0  No Event
2025-05-07          0.0        3.0      rain

In [40]:
new_df = df.fillna(method='ffill', limit=1)
# new_df = df.fillna(method='bfill')

new_df

/tmp/ipykernel_5424/840256733.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method='ffill', limit=1)

            temperature  windspeed  event
day
2025-04-30         24.0        6.0   rain
2025-05-03         24.0        6.0   rain
2025-05-04          NaN        3.0   rain
2025-05-05         88.0        2.0  sunny
2025-05-06         23.0        7.0  sunny
2025-05-07         23.0        3.0   rain

In [41]:
new_df = df.fillna( method='bfill',axis='columns')
new_df

/tmp/ipykernel_5424/2733137342.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna( method='bfill',axis='columns')
/tmp/ipykernel_5424/2733137342.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df = df.fillna( method='bfill',axis='columns')

           temperature windspeed  event
day
2025-04-30        24.0       6.0   rain
2025-05-03        rain      rain   rain
2025-05-04         3.0       3.0   rain
2025-05-05        88.0       2.0  sunny
2025-05-06        23.0       7.0    NaN
2025-05-07         3.0       3.0   rain