In [1]:
import pandas as pd
df = pd.read_csv("data.csv")

In [2]:
# if we have the data inside the python as the dictiory 
# table_data = {
#     "Name": ["Alice", "Bob", "Charlie"],
#     "Age": [25, 30, 35],
#     "Email": ["alice@example.com", "bob@example.com", "charlie@example.com"]
# }
# df = pd.DataFrame(table_data)
# df

In [3]:
# to get the shape of the data like the no. of rows and columns
# rows, col = df.shape
# rows

In [4]:
# using this we are able to show only few starting values
# df.head(2)
# using this we are able to show only few ending values
# df.tail(2)

In [5]:
# to print the particular records
# df[2:5]
# to get the particular column
# df.event 
df[['event','day', 'temperature']]

   event         day  temperature
0   rain  30-04-2025           24
1  sunny  01-05-2025           54
2  sunny  02-05-2025           34
3   rain  03-05-2025           54
4   rain  04-05-2025           23
5  sunny  05-05-2025           88
6   snow  06-05-2025           23
7   snow  07-05-2025           12

In [6]:
# df.describe()
# df['temperature'].max()
# df[df.event == 'rain']
df['day'][df.temperature == df.temperature.max()]

5    05-05-2025
Name: day, dtype: object

In [7]:
df.set_index('day', inplace = True)
df

            temperature  windspeed  event
day
30-04-2025           24          6   rain
01-05-2025           54          4  sunny
02-05-2025           34          6  sunny
03-05-2025           54          3   rain
04-05-2025           23          3   rain
05-05-2025           88          2  sunny
06-05-2025           23          7   snow
07-05-2025           12          3   snow

In [13]:
# df.loc['04-05-2025']
# df.loc[df.temperature == df.temperature.max()]
df.loc['05-05-2025']

temperature       88
windspeed          2
event          sunny
Name: 05-05-2025, dtype: object