In [45]:
import pandas as pd

df1 = pd.DataFrame({
    'city':['delhi','pune','chandigarh', 'mumbai'],
    'temperature':[40,45,39,43],
    'humidity':[80,60,70,65]
})


df2 = pd.DataFrame({
    'city':['delhi','pune','chandigarh','ludhiana'],
    'temperature':[32,45,39,45],
    'humidity':[65,80,40,75]
})

In [46]:
df3 = pd.merge(df1,df2,on="city", how='outer', indicator=True) # here 'how' could be (left, right, inner, outer)     
df3

,city,temperature_x,humidity_x,temperature_y,humidity_y,_merge
0,chandigarh,39.0,70.0,39.0,40.0,both
1,delhi,40.0,80.0,32.0,65.0,both
2,ludhiana,NaN,NaN,45.0,75.0,right_only
3,mumbai,43.0,65.0,NaN,NaN,left_only
4,pune,45.0,60.0,45.0,80.0,both